Source: xwwall
Section: x11
Priority: optional
Maintainer: Mick Amadio <01micko@gmail.com>
Build-Depends:
 debhelper-compat (= 13)
Standards-Version: 4.6.2
Homepage: https://github.com/01micko/xwwall
Rules-Requires-Root: no
Vcs-Git: https://github.com/01micko/xwwall.git
Vcs-Browser: https://github.com/01micko/xwwall

Package: xwwall
Architecture: all
Multi-Arch: foreign
Depends:
 ${misc:Depends},
 bash (>= 5.0),
 gtk3dialog,
 feh|swaybg,
 x11-xserver-utils|wlr-randr
Description: Wallpaper setter for X11 and Wayland
 xwwall is a graphical wallpaper setter for the X Window System
 often known as X11 and Wayland desktops for Linux and other
 *nix distributions.
 
